{% load static %}

<link rel="stylesheet" href="{% static 'fileupload/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number Linking Puzzle</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="panel">
        <div class="panel-heading">
            <h1>Number Linking Puzzle</h1>
            <h4>Create a puzzle from an image</h4>
        </div>
        <div class="panel-body">
            <form id="upload-form" method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create Puzzle as PDF</button>
            </form>
        </div>
    </div>

    <div class="panel main-imgcontainer">
        <div class="imgcontainer">
            <img src="{% static 'fileupload/images/Dog.jpeg' %}" class="d-inline-block align-text-top image"/>
            <span class="arrow">&#9660;</span> <!-- Unicode down arrow -->
            <img src="{% static 'fileupload/images/Dog (Solution).png' %}" class="d-inline-block align-text-top image" />
            <img src="{% static 'fileupload/images/Dog (Zoomed In).png' %}" class="d-inline-block align-text-top image" />
        </div>
        <div class="imgcontainer">
            <img src="{% static 'fileupload/images/Mona Lisa.jpg' %}" class="d-inline-block align-text-top image"/>
            <span class="arrow">&#9660;</span> <!-- Unicode down arrow -->
            <img src="{% static 'fileupload/images/Mona Lisa (Solution).png' %}" class="d-inline-block align-text-top image" />
            <img src="{% static 'fileupload/images/Mona Lisa (Zoomed In).png' %}" class="d-inline-block align-text-top image" />
        </div>
        <div class="imgcontainer">
            <img src="{% static 'fileupload/images/Uluru.jpeg' %}" class="d-inline-block align-text-top image"/>
            <span class="arrow">&#9660;</span> <!-- Unicode down arrow -->
            <img src="{% static 'fileupload/images/Uluru (Solution).png' %}" class="d-inline-block align-text-top image" />
            <img src="{% static 'fileupload/images/Uluru (Zoomed In).png' %}" class="d-inline-block align-text-top image" />
        </div>
    </div>
</div>


</body>
</html>
