{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number Linking Puzzle</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="panel">
        <div class="panel-heading">
            <h1>Number Linking Puzzle</h1>
            <h4>Create a puzzle from an image</h4>
        </div>
        <div class="panel-body">
            <form id="upload-form" method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create Puzzle as PDF</button>
            </form>
        </div>
    </div>

    <div class="panel">
          <img src="{% static 'images/Dog (Solution).png' %}"
            class="d-inline-block align-text-top" />
    </div>
</div>


</body>
</html>
